
.h1Gal {
    margin-top: 50px;
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}

.imageGal {
    display: block;
    width: 100%;
    margin: 12px;   
    border-radius: 50px;  
}

.thumbnailGal{
    object-fit: cover;
    transition: 0.3s ease transform;
}

.thumbnailGal:hover {
    transform: scale(1.1);
}
.row{
    margin-bottom: 20px;
}
    
